<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>akcruapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
				<key>dateExpires</key>
				<string>04/10/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GeoZip.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSAnalyticsSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>14</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSBroadcastExtensionSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSHLSPlayerSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>13</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Highwind.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205D90F918BC6A3D2E8878E70A10BF27C32B736B</string>
						<key>dateExpires</key>
						<string>04/10/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WLRL4AY6GK</string>
						<key>name</key>
						<string>Akcru, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WLRL4AY6GK.org.reactjs.native.example.akcruapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WLRL4AY6GK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>akcruapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b8a746d-b84b-4506-947d-31312205e3a6</string>
				<key>dateExpires</key>
				<string>04/10/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.akcruapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WLRL4AY6GK</string>
				<key>name</key>
				<string>Akcru, inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
