<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>akcruapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This is to be able access your Apple Music data in the app</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This is to be able to use your Bluetooth in the background</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This is to be able to use your Bluetooth in the app</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This is to be able to use your Calendar in the app</string>
	<key>NSCameraUsageDescription</key>
	<string>This is used for sharing your camera during a Watchparty</string>
	<key>NSContactsUsageDescription</key>
	<string>This is to be able to use your contacts in the app</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This is to be able to use your Face ID</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This is to be able to use your location in the background and in app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This is to be able to use your location in the background</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Nearby Users</key>
		<string>Your Location is Used to Find Nearby Users</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This is used to access your Location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This is used for sharing audio during a Watchparty</string>
	<key>NSMotionUsageDescription</key>
	<string>This is used to track motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This is used to be able to add your photos to the Akcru app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This is used to access your photos for Akcru</string>
	<key>NSRemindersUsageDescription</key>
	<string>This is used to be able to send you reminders for the Akcru app</string>
	<key>NSSiriUsageDescription</key>
	<string>This is used to be use Siri in app</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This is used to be able to use speech recognition in app</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
