<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356765995078-tsgt6mo86jevfonsm8qkl9vgdvi0epq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356765995078-tsgt6mo86jevfonsm8qkl9vgdvi0epq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBgfL-RWjsuQtr1jRk42Xa4IHwy0UX9Nxc</string>
	<key>GCM_SENDER_ID</key>
	<string>356765995078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.akcruapp</string>
	<key>PROJECT_ID</key>
	<string>akcru-app</string>
	<key>STORAGE_BUCKET</key>
	<string>akcru-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356765995078:ios:8e3f8fc5442e22127dba47</string>
	<key>DATABASE_URL</key>
	<string>https://akcru-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>